/********************************************************
de_style
********************************************************/
a{
    text-decoration: none;
    color: #6c757d;
}
a:hover{
    color: rgba(0,0,0,.5);
}

/********************************************************
// color add
/********************************************************/

/*------------------------------------
- COLOR gray
------------------------------------*/
.alert-gray {
    color: #33373b;
    background-color: #d7dadd;
    border-color: #ccd0d3;
}

.alert-gray hr {
    border-top-color: #bfc3c7;
}

.alert-gray .alert-link {
    color: #1b1d1f;
}

.badge-gray {
    color: #fff;
    background-color: 6c757d;
}

.badge-gray[href]:hover, .badge-gray[href]:focus {
    color: #fff;
    background-color: #545b61;
}

.bg-gray {
    background-color: #6c757d !important;
}

a.bg-gray:hover, a.bg-gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
    background-color: #545b61 !important;
}

.border-gray {
    border-color: 6c757d !important;
}

.btn-gray {
    color: #fff;
    background-color: 6c757d;
    border-color: 6c757d;
}

.btn-gray:hover {
    color: #fff;
    background-color: #5b6369;
    border-color: #545b61;
}

.btn-gray:focus, .btn-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-gray.disabled, .btn-gray:disabled {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-gray:not(:disabled):not(.disabled):active, .btn-gray:not(:disabled):not(.disabled).active, .show > .btn-gray.dropdown-toggle {
    color: #fff;
    background-color: #545b61;
    border-color: #4d5359;
}

.btn-gray:not(:disabled):not(.disabled):active:focus, .btn-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-gray {
    color: 6c757d;
    background-color: transparent;
    border-color: 6c757d;
}

.btn-outline-gray:hover {
    color: #fff;
    background-color: 6c757d;
    border-color: 6c757d;
}

.btn-outline-gray:focus, .btn-outline-gray.focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.btn-outline-gray.disabled, .btn-outline-gray:disabled {
    color: 6c757d;
    background-color: transparent;
}

.btn-outline-gray:not(:disabled):not(.disabled):active, .btn-outline-gray:not(:disabled):not(.disabled).active, .show > .btn-outline-gray.dropdown-toggle {
    color: #fff;
    background-color: 6c757d;
    border-color: 6c757d;
}

.btn-outline-gray:not(:disabled):not(.disabled):active:focus, .btn-outline-gray:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-gray.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.list-group-item-gray {
    color: #33373b;
    background-color: #ccd0d3;
}

.list-group-item-gray.list-group-item-action:hover, .list-group-item-gray.list-group-item-action:focus {
    color: #33373b;
    background-color: #bfc3c7;
}

.list-group-item-gray.list-group-item-action.active {
    color: #fff;
    background-color: #33373b;
    border-color: #33373b;
}

.table-gray,
.table-gray > th,
.table-gray > td {
    background-color: #ccd0d3;
}

.table-hover .table-gray:hover {
    background-color: #bfc3c7;
}

.table-hover .table-gray:hover > td,
.table-hover .table-gray:hover > th {
    background-color: #bfc3c7;
}

.text-gray {
    color: #6c757d !important;
}

a.text-gray:hover, a.text-gray:focus {
    color: #545b61 !important;
}
